* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.limitar-secao {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.card-hover:hover {
    background-color: rgb(237, 237, 237);
    color: black;
    cursor: pointer;
}

.secao-banner-nossos-sabores {
    padding-top: 90px;
    background-image: url(../img/banner-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.secao-banner-nossos-sabores h1 {
    line-height: 65vh;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}

.secao-pagina-sabores { margin: 50px auto; }

.secao-pagina-sabores h1{
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.secao-cards-sabores {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card-sabores {
    text-decoration: none;
    color: black;
    width: calc( (100% / 3) - 150px );
    height: 380px;
    margin: 15px 30px;
    box-shadow: 0 6px 15px rgb(163, 155, 155);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 25px;
    text-align: center;
}

.card-sabores img { width: 180px; }
.card-sabores p { font-size: 14px; text-align: justify;}

/* Media Queries */

@media screen and ( max-width: 425px) { .secao-banner-nossos-sabores h1 { line-height: 60vh; font-size: 40px; } }

@media screen and ( max-width: 768px ) {
    .secao-cards-sabores { flex-direction: column; align-items: center; }

    .secao-banner-nossos-sabores h1 {
        line-height: 60vh;
        font-size: 40px;
    }

    .card-sabores {
        width: 90%;
    }
}

@media screen and ( min-width: 769px ) and ( max-width: 1024px ) {
    .card-sabores {
        width: calc( (100% / 2) - 150px );
    }
}

@media screen and ( min-width: 1025px ) and ( max-width: 1100px ) {
    .card-sabores {
        width: calc( (100% / 2) - 150px );
    }
}

header {
    background-color: #F2D377;
    position: fixed;
    top: 0;
    width: 100%;
}

.container-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.container-header img {
    padding-left: 20px;
    width: 100px;
}

.container-header nav {
    padding-right: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-botao-nav {
    margin: auto 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.header-botao-nav:hover {
    color: #A64F1C;
    font-weight: bold;
    transition-duration: 0.3s;
}

/* Media Queries */

@media screen and (max-width: 768px) {

    .container-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .container-header img {
        padding-left: 0;
        width: 80px;
    }

    .container-header nav {
        padding: 18px 35px;
        border-top: 1px solid rgb(77, 73, 73);
    }

    .header-botao-nav {
        margin: auto 30px;
    }

    
}

footer { background-color: black; }

.container-footer img { width: 160px; }

.container-footer {
    padding: 100px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.footer-box h3 { color: white; }
.footer-box p, .footer-creditos-dev p { color: rgb(189, 193, 193); }

.footer-creditos-dev {
    border-top: 1px solid rgb(189, 193, 193);
    line-height: 55px;
    height: 55px;
    text-align: center;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .container-footer {
        flex-flow: column wrap;
    }

    .footer-box { padding: 25px 0; text-align: center; }

}

@media screen and (max-width: 1024px) {
    .container-footer img { width: 130px; }

    .container-footer {
        padding-left: 25px;
        padding-right: 25px;
    }
}